@import "./vars";

@keyframes menuMobile {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.header {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 55%;
    width: 100%;
    border: 1px solid #bdbeb0;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    padding: 18px 0;

    &__contacts {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (max-width: 650px) {
        flex-direction: column;
      }
    }
    &_item {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      gap: 0.5rem;
    }
    #headerPhone {
      font-weight: 500;
    }
    @media (max-width: 450px) {
      flex-direction: column;
      gap: 0.5rem;
      .header__menu_mobile {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 28px 0 18px;
    .close__mobile_menu {
      display: none;
    }
    #headerCart {
      position: relative;
      cursor: pointer;
      &::after {
        content: attr(data-count);
        position: absolute;
        display: grid;
        place-content: center center;
        font-size: 12px;
        bottom: 60%;
        left: 12px;
        color: #fff;
        background-color: $activeColorGreen;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        padding: 2px;
      }
    }
  }
  &_logo {
    color: $activeColorGreen;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 18px;
    a {
      flex-shrink: 0;
    }
  }
  &__menu_mobile {
    display: none;
    path {
      stroke: $activeColorGreen;
    }
  }
  @media (max-width: 650px) {
    &::before {
      display: none;
    }
    &__menu_mobile {
      display: block;
      cursor: pointer;
    }
    &__bottom {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      padding: 1rem;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: flex-start;
      background-color: #385170;
      color: #fff;
      height: 100%;
      animation: menuMobile 200ms linear forwards;
      nav {
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
      }

      .close__mobile_menu {
        position: absolute;
        top: 0.5rem;
        right: 12rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #385170;
        display: grid;
        place-content: center center;
        fill: #fff;

        cursor: pointer;
      }
      &.open {
        display: flex;
      }
    }
  }
}
