@import "./vars";

.hero {
  background-image: url("../assets/heroBgWood.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;

  &__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__desc {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      gap: 18px;
      position: relative;
      &_title {
        text-transform: uppercase;
        font-size: clamp(40px, 10vw, 64px);
        font-weight: 800;
        text-shadow: 0 0 11px rgba(0, 0, 0, 0.49);
        span {
          color: $activeColorGreen;
        }
      }
      &_text {
        font-size: 20px;
        font-weight: 600;
      }
      &_button {
        width: 175px;
        height: 44px;
      }
    }
    &_image {
      max-width: 50%;
      position: relative;
      height: 600px;
      img {
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        @media (max-width: 700px) {
          right: auto;
          left: 50%;
        }
      }
    }
  }
  &__controls {
    position: absolute;
    width: 90%;
    max-width: 1400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    span {
      cursor: pointer;
      transition: all 300ms ease;
      border-radius: 50%;
      display: grid;
      place-content: center center;
      width: 60px;
      height: 60px;
      -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
      &:hover {
        transform: scale(1.2);
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  &__pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    width: fit-content;
    left: 50%;
    padding-bottom: 50px;
    z-index: 10;
  }
}
